<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Resto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-item nav-link" routerLink="add">Add Restaurant</a>
        <a class="nav-item nav-link" routerLink="">List Restaurant</a>
        <a class="nav-item nav-link" routerLink="Register">Register</a>
        <!-- <a class="nav-item nav-link" routerLink="sum">Sum</a> -->
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
<div></div>

<footer>
  <p>
    Register your Restaurant With us 
  </p>
</footer>
</div>